@using Microsoft.AspNetCore.Identity
@model Northwind.Security.Models.EditUserRoleViewModel

@{
    ViewData["Title"] = "EditUserRole";
}

<h1>@ViewData["Title"]</h1>

<hr />
<div>
    <form asp-action="Create">
         <dl class="row">

        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User.UserName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.UserName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserRole)
        </dt>
        
        <dd class = "col-sm-10">
            <label asp-for="UserRole" class="control-label">Role<span class="text-danger">*</span></label><br />
            <select asp-for="UserRole" class="form-control"
                asp-items="@(new SelectList(Model.Roles, nameof(IdentityRole.Name), nameof(IdentityRole.Name)))">
                <option value=null>Please select one</option>
            </select>
        </dd>    
    </dl>
    
</form>
   
</div>
<div>
    <a class="btn btn-secondary" asp-action="Users">Back</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
